* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

main {
  background-color: #cfcfcf;
  flex: 2;
  padding: 40px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

aside {
  background-color: #022749;
  flex: 1;
  padding: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}
